.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
*.iml
/.idea
/gradle
/Android-Terminal-Emulator-master.iml
/gradlew
/gradlew.bat
/tests
/artwork
/term/.externalNativeBuild
.externalNativeBuild
/term/*.apk
